@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SEC-SENAC</h1>
    <p class="lead">O aplicativo utilizado para registro de ocorrências de delitos para levantamento de dados</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Denuncie Ocorrências</h2>
        <p>
            Realize rápidas ocorrências denunciado delitos ocorridos em volta do SENAC para contribuir com a comunidade.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gere relatórios</h2>
        <p>Visualize relatórios gerados com estes dados para que você possa se programar adequadamente e evitar possíveis riscos.</p>
    </div>
    <div class="col-md-4">
        <h2>Ajude as autoridades</h2>
        <p>Cada ocorrência que você realiza contribui para uma melhor estrutura de dados, assim ajudando as autoridades responsáveis para que possamos resolver o problema de forma eficiente e inteligente.</p>
    </div>
</div>